*{margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'roboto', sans-serif;
    }

    /* Lo primero es centrar todo al centro, que quede simétrico o me dará un jamacuco visual */